
Capstone2-Stock_price_vs_sec_filings/0000950123-10-025907.json
Capstone2-Stock_price_vs_sec_filings/0000950123-10-027758.json
Capstone2-Stock_price_vs_sec_filings/0000950123-10-029845.json
Capstone2-Stock_price_vs_sec_filings/0000950123-10-030079.json
Capstone2-Stock_price_vs_sec_filings/0001045810-10-000006.json
Capstone2-Stock_price_vs_sec_filings/0001104659-10-017258.json
DataScienceGuidedCapstone/DataScienceGuidedCapstone/
Pandas-profiling/pandas-profiling/
featuretools/featuretools/
Capstone3-CardFraud/data/creditcard.csv
